.skin-red .topbar .top-navbar .navbar-header .navbar-brand .light-logo {
    display: inline-block;
    color: rgba(255,255,255,.8);
}
.skin-red .topbar .top-navbar .navbar-header .navbar-brand .dark-logo {
    display: none;
}
.skin-green .topbar .top-navbar .navbar-header .navbar-brand .light-logo {
    display: inline-block;
    color: rgba(255,255,255,.8);
}
.skin-green .topbar .top-navbar .navbar-header .navbar-brand .dark-logo {
    display: none;
}
.skin-purple .topbar .top-navbar .navbar-header .navbar-brand .light-logo {
    display: inline-block;
    color: rgba(255,255,255,.8);
}
.skin-purple .topbar .top-navbar .navbar-header .navbar-brand .dark-logo {
    display: none;
}
.skin-megna .topbar .top-navbar .navbar-header .navbar-brand .light-logo {
    display: inline-block;
    color: rgba(255,255,255,.8);
}
.skin-megna .topbar .top-navbar .navbar-header .navbar-brand .dark-logo {
    display: none;
}
.skin-blue .topbar .top-navbar .navbar-header .navbar-brand .light-logo {
    display: inline-block;
    color: rgba(255,255,255,.8);
}
.skin-blue .topbar .top-navbar .navbar-header .navbar-brand .dark-logo {
    display: none;
}
.skin-default .topbar .top-navbar .navbar-header .navbar-brand .light-logo {
    display: inline-block;
    color: rgba(255,255,255,.8);
}
.skin-default .topbar .top-navbar .navbar-header .navbar-brand .dark-logo {
    display: none;
}

.topbar .top-navbar .navbar-header {
    background: rgba(0,0,0,.05);
}

/* language picker */
.language-picker { padding:.5rem 1rem; font-size: 14px; line-height: 50px; }
.language-picker select{border-radius: 60px; border-color: transparent; transition: .2s ease-in; padding: 6px 12px;}
.preloader .d-block{display: block !important;}
.preloader .d-none{display: none !important;}
#ajaxLoader {opacity: 0.3;}

.invalid-feedback {color: red;font-weight: bold;font-size: 85%;}

#otpForm{
   display:none; 
}
.d-none{
    display: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color:#03a9f3;
    border-color:#03a9f3;
    color:#FFFFFF;
}
.select2-selection__choice__remove{
    color: #FFFFFF !important;
}
#add_owner{
    white-space: nowrap;
}
.bg-gray{
    background-color:#decbad;
}
.opacity-0{
    opacity: 0;
}
.error{
    color:red;
}
.sticky-header th{
    background-color: #fff;
}
.sticky-header th, .sticky-header td{
    white-space: nowrap;
}
#migration_user{
    max-height: calc(100vh - 230px);
    overflow: auto;
}
.stickyside  .btn.btn-success {
    margin-top: 15px;
}
#record_per_page{
    max-width: 70px;
}
.set_direction{
    direction: ltr;
}
.set_direction_rtl{
    direction: rtl;
}
.margintop-10{
    margin-top: -10px;
}
.readonly_checkbox{
    pointer-events: none;
}
#chipping_dog_list .select2-container{
    width: 200px !important;
}
.set_disabled{
    background-color:#e9ecef;
}
.set_lable_height label{
height: 43px;
}
.text-center{
text-align: center;
}
.readonly_checkbox .select2-container--default .select2-selection--single {
background-color: #e9ecef !important;
color: #444
}
.readonly_checkbox .readonly_select{
   background-color: #e9ecef !important;
color: #444 
}
.readonly_bgcolor{
 background-color: #e9ecef !important;   
 border-color:#e9ecef !important;
 color: #0f0f0f !important;
}
#history_table{
    font-size:10px !important;
}
.pregnancycheckbox {
    margin-left: 40%;
}
.active_breeding_table{
    min-height: 280px !important;
}
.active_breeding_table_tag{
    overflow: hidden !important;
    overflow-y: scroll !important;
}
@media (max-width:479px){
    .pregnancycheckbox {
        margin-left: -6%;
    }
}
.owner_transfer_message {
    display: flex;
    align-items: center;
    justify-content: center;
    height:60vh;
}
