@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);

#breeding_btn.fixed-header {
    position: fixed;
    top:60px;
    width: calc(100% - 270px);
    border-bottom: 2px solid #000;
     right: 25px;
}
.breeding_cart {
    background-color: #fff;
    width: 100%;
    display: inline-block;
    padding: 15px;
    border-radius: 0px;
    z-index: 9;
}

.breeding_cart .btn.btn-danger{
    float: right;
}
.breeding_cart + .card{
    margin-top: 10px;
}

.mini-sidebar #breeding_btn.fixed-header{
    width: calc(100% - 120px);
}

.breadcrumb_new {
	/*centering*/
	display: inline-block;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
	overflow: hidden;
	border-radius: 5px;
	/*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
    counter-reset: flag; 
    text-align: center
}

.breadcrumb_new a {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	font-size: 12px;
	line-height: 36px;
	color: white;
	/*need more margin on the left of links to accomodate the numbers*/
	padding: 0 10px 0 60px;
	background: #666;
	background: linear-gradient(#666, #333);
	position: relative;
}
/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumb_new a:first-child {
	padding-left: 46px;
	border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
}
.breadcrumb_new a:first-child:before {
	left: 14px;
}
.breadcrumb_new a:last-child {
	border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
	padding-right: 20px;
}

/*hover/active styles*/
.breadcrumb_new a.active, .breadcrumb_new a:hover{
	background: #333;
	background: linear-gradient(#333, #000);
}
.breadcrumb_new a.active:after, .breadcrumb_new a:hover:after {
	background: #333;
	background: linear-gradient(135deg, #333, #000);
}

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb_new a:after {
	content: '';
	position: absolute;
	top: 0; 
	right: -18px; /*half of square's length*/
	/*same dimension as the line-height of .breadcrumb a */
	width: 36px; 
	height: 36px;
	/*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
	length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
	if diagonal required = 1; length = 1/1.414 = 0.707*/
	transform: scale(0.707) rotate(45deg);
	/*we need to prevent the arrows from getting buried under the next link*/
	z-index: 1;
	/*background same as links but the gradient will be rotated to compensate with the transform applied*/
	background: #666;
	background: linear-gradient(135deg, #666, #333);
	/*stylish arrow design using box shadow*/
	box-shadow: 
		2px -2px 0 2px rgba(0, 0, 0, 0.4), 
		3px -3px 0 2px rgba(255, 255, 255, 0.1);
	/*
		5px - for rounded arrows and 
		50px - to prevent hover glitches on the border created using shadows*/
	border-radius: 0 5px 0 50px;
}
/*we dont need an arrow after the last link*/
.breadcrumb_new a:last-child:after {
	content: none;
}
/*we will use the :before element to show numbers*/
.breadcrumb_new a:before {
	content: counter(flag);
	counter-increment: flag;
	/*some styles now*/
	border-radius: 100%;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin: 8px 0;
	position: absolute;
	top: 0;
	left: 30px;
	background: #444;
	background: linear-gradient(#444, #222);
	font-weight: bold;
}


.flat a, .flat a:after {
	background: white;
	color: black;
    transition: all 0.5s;
    font-size: 15px;
    font-weight: bolder;
}
.flat a:before {
	background: white;
    box-shadow: 0 0 0 1px #ccc;
    color: #000;
    
}
.flat a:hover, .flat a.active, 
.flat a:hover:after, .flat a.active:after{
    background:#03a9f3;
    color:#FFFFFF ;
    font-size: 15px;
    font-weight: bolder;
}
.set_right{
    float: right;
    margin-top: -28px;
    font-weight: bold;

}
.step_dropdown .dropdown-submenu {
    position: relative;
}

.step_dropdown .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.step_dropdown .dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.step_dropdown .dropdown-item{
    padding:10px 10px !important;
}
.step_dropdown .dropdown-item a{
    width: 100% !important;
    display:block !important;
}
.step_dropdown .dropdown-submenu>a:after {
    display: block;
    content: ' ';
    float: left;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    margin-top: 4px;
    margin-right: -10px;
    border-width: 0px px 5px 5px;
   border-width: 7px 7px 7px 0px;
    border-right-color: #ccc;
    margin-right: 5px;
}

.step_dropdown .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.step_dropdown .dropdown-submenu.pull-left {
    float: none;
}

.step_dropdown .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.step_dropdown .ul_class_dropdown{
left:auto !important;
/*right:100% !important;*/
}
.step_dropdown .ul_class_dropdown_sub{
left:auto !important;
right:100% !important; 
}
.step_dropdown a{
    color:black;
}
.blueclassbackground a{
    color:white;
}
.blueclass{
    background: #03a9f3 !important;
    color: #FFFFFF !important;
    font-size: 15px !important;
    font-weight: bolder !important;
}
.greenclass{
    background: green !important;
    color: #FFFFFF !important;
    font-size: 15px !important;
    font-weight: bolder !important;
}
.greyclass{
    background: grey !important;
    color: #FFFFFF !important;
    font-size: 15px !important;
    font-weight: bolder !important;
}
.blueclass:after {
    background: #03a9f3 !important;
    color: black !important;
    transition: all 0.5s !important;
    font-size: 15px !important;
    font-weight: bolder !important;
}
.greenclass:after {
    background: green !important;
    color: black !important;
    transition: all 0.5s !important;
    font-size: 15px !important;
    font-weight: bolder !important;
}
.greyclass:after {
    background: grey !important;
    color: black !important;
    transition: all 0.5s !important;
    font-size: 15px !important;
    font-weight: bolder !important;
}
.blueclassbackground{
        color: #fff !important;
        background-color: #03a9f3 !important;
}
@media (max-width:1023px){
    #breeding_btn.fixed-header{
        width: 100%;
    }
}

@media (max-width:767px){
    .mini-sidebar #breeding_btn.fixed-header{
        width: calc(100% - 30px);
        right:15px;
    }
}

@media (max-width:479px){
    .breeding_cart{
        width: calc(100% - 30px);
         margin: 0;
         position: fixed;
        bottom: 0px;
        padding: 10px 0px;
    }
   .mini-sidebar #breeding_btn.fixed-header{top:inherit;
    bottom:0px;
    margin: 0;
    border: none;
   }
   .breeding_cart .btn.btn-danger{
    display: table;
    margin: 0 auto;
    float: none !important;
    width:100%;
   }
}


@media screen and (max-width:991px){
    .breadcrumb_new_responsive{
        overflow-x: scroll;
    }
    .breadcrumb_new_responsive  .breadcrumb_new{
        width: 860px;
    } 
}
@media screen and (max-width:479px){
    .breadcrumb_new a{
        padding: 0 10px 0 30px !important;
    }
    .breadcrumb_new a::before {
        width: 15px;
        height: 15px;
        line-height: 14px;
        margin: 8px 0;
        top: 4px;
        left: 6px !important;
    }
    .breadcrumb_new a::after {
        right: -10px;
    }
}

/* 
@media screen and (max-width:639px){
    
    .breadcrumb_new a{
        float: left;
        width: calc(50% - 10px);
        padding-left: 47px;
        text-align: left;
    }

    .breadcrumb_new a:first-child::before {
        left: 10px;
    }

    .breadcrumb_new a::before{
        left: 10px;
        text-align: center;
    }
    .breadcrumb_new a:nth-child(even){
        padding-left: 60px;
        padding-right: 0;
    }

    .breadcrumb_new a:nth-child(even):before{
        left: 30px;
    }
}

@media screen and (max-width:479px){
    .breadcrumb_new a{
        width: calc(100% - 23px);
    }
    .breadcrumb_new a:nth-child(2n) {
        padding-left: 46px;
    }
    .breadcrumb_new a:nth-child(2n)::before {
        left: 10px;
    }
} */