.heading-text{
text-align: center;
font-size: 25pt;
}
.puppie_name{
    text-align: center;
    font-size: 15pt;
}
.float-left{
    float: left;
}
img{
    width:100px;
    height:100px;
}
.top-margin{
    margin-top: 10px;
}
.border td {
    border: 1px solid;
    padding: 8px;
  }
  .border {
    
    border-collapse: collapse;
    width: 100%;
  }
.border tr:nth-child(even){background-color:gainsboro;}

.border tr:hover {background-color: #ddd;}

td{
    padding: 10px;
}
.page-break{
    page-break-after: always;
}