@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
/*Theme Colors*/
/**
 * Table Of Content
 *
 * 	1. Color system
 *	2. Options
 *	3. Body
 *	4. Typography
 *	5. Breadcrumbs
 *	6. Cards
 *	7. Dropdowns
 *	8. Buttons
 *	9. Typography
 *	10. Progress bars
 *	11. Tables
 *	12. Forms
 *	14. Component
 */
/*******************
Basic Common
*******************/
body {
  text-align: right;
  direction: rtl; }

.custom-select {
  padding: .375rem .75rem .375rem 1.75rem; }

.custom-control {
  padding-left: 0;
  padding-right: 1.5rem; }

.custom-control-label::after, .custom-control-label::before {
  left: auto;
  right: -25px; }

.custom-switch .custom-control-label::before {
  right: -2.25rem; }

.custom-file-label, .custom-file-label::after {
  left: 0;
  right: auto; }

.custom-file-label {
  width: 100%; }
  .custom-file-label::after {
    border-left: 0;
    border-right: inherit;
    border-radius: .25rem 0 0 .25rem; }

.custom-select {
  background: url(../../../assets/images/custom-select.png) left 0.75rem center no-repeat; }

.btn-group > .btn-group:not(:first-child) > .btn,
.btn-group > .btn:not(:first-child),
.input-group > .custom-file:not(:first-child) .custom-file-label,
.input-group > .custom-select:not(:first-child),
.input-group > .form-control:not(:first-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem; }

.input-form .btn {
  padding: 7px 12px; }

.form-control.is-invalid, .was-validated .form-control:invalid,
.form-control.is-valid, .was-validated .form-control:valid {
  background-position: center left calc(.375em + .1875rem); }

.form-check-input {
  margin-right: 0 !important; }

.modal-header .close {
  margin: -1rem auto -1rem -1rem; }

.list-group {
  padding: 0px; }

.btn-group .btn:first-child, .btn-group .page-item:first-child .page-link, .pagination .btn:first-child, .pagination .page-item:first-child .page-link {
  border-radius: 0 0.25rem 0.25rem 0 !important; }

.btn-group .btn:last-child, .btn-group .page-item:last-child .page-link, .pagination .btn:last-child, .pagination .page-item:last-child .page-link {
  border-radius: 0.25rem 0 0 0.25rem; }

.ml-auto {
  margin-right: auto !important;
  margin-left: 0px !important; }

.mr-auto {
  margin-left: auto !important;
  margin-right: 0px !important; }

.close {
  float: left; }

/*******************
Padding margin property  check in scafholding.scss we have changed in that
*******************/
/*******************
flot left to right we have changed in variable.scss check that
*******************/
.pull-left {
  float: right; }

.pull-right {
  float: left; }

/*******************
text-alignment 
*******************/
.text-right {
  text-align: left !important; }

.text-left {
  text-align: right !important; }

/*************************************************************************************************************************************/
/*******************
Topbar
*******************/
.navbar-expand-md .navbar-nav {
  padding: 0px; }

.topbar .top-navbar .navbar-header {
  padding-left: 0px;
  padding-right: 10px; }

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .dropdown-menu-right {
    right: auto;
    left: 0; } }

html body .navbar-dark .mailbox .message-center a, html body .message-box .message-widget a {
  text-align: right; }
  html body .navbar-dark .mailbox .message-center a .user-img, html body .message-box .message-widget a .user-img {
    margin: 0 0px 15px 10px; }
  html body .navbar-dark .mailbox .message-center a .mail-contnet, html body .message-box .message-widget a .mail-contnet {
    text-align: right;
    padding-left: 0px;
    padding-right: 10px; }

/*************************************************************************************************************************************/
/*******************
sidebar
*******************/
.sidebar-nav ul li ul li a, .sidebar-nav ul li a {
  padding: 7px 15px 7px 35px; }

.sidebar-nav ul li ul {
  padding-left: 0px;
  padding-right: 23px; }

.sidebar-nav ul li ul ul {
  padding-left: 0px;
  padding-right: 15px; }

.sidebar-nav .has-arrow::after {
  right: auto;
  left: 20px; }

.scroll-sidebar.ps .ps__scrollbar-y-rail {
  right: 0px !important;
  left: auto; }

.step_dropdown .dropdown-submenu {
    position: relative;
}

.step_dropdown .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.step_dropdown .dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.step_dropdown .dropdown-item{
    padding:10px 10px !important;
}
.step_dropdown .dropdown-item a{
    width: 100% !important;
    display:block !important;
}
.step_dropdown .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.step_dropdown .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.step_dropdown .dropdown-submenu.pull-left {
    float: none;
}

.step_dropdown .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.step_dropdown a{
    color:black;
}
.blueclassbackground a{
    color:white;
}
.blueclass{
    background: #03a9f3 !important;
    color: #FFFFFF !important;
    font-size: 15px !important;
    font-weight: bolder !important;
}
.greenclass{
    background: green !important;
    color: #FFFFFF !important;
    font-size: 15px !important;
    font-weight: bolder !important;
}
.greyclass{
    background: grey !important;
    color: #FFFFFF !important;
    font-size: 15px !important;
    font-weight: bolder !important;
}
.blueclass:after {
    background: #03a9f3 !important;
    color: black !important;
    transition: all 0.5s !important;
    font-size: 15px !important;
    font-weight: bolder !important;
}
.greenclass:after {
    background: green !important;
    color: black !important;
    transition: all 0.5s !important;
    font-size: 15px !important;
    font-weight: bolder !important;
}
.greyclass:after {
    background: grey !important;
    color: black !important;
    transition: all 0.5s !important;
    font-size: 15px !important;
    font-weight: bolder !important;
}
.blueclassbackground{
        color: #fff !important;
        background-color: #03a9f3 !important;
}

@media (min-width: 768px) {
  .mini-sidebar .sidebar-nav #sidebarnav > li:hover > ul {
    right: 70px;
    left: auto; }
  .mini-sidebar .page-wrapper, .mini-sidebar .footer {
    margin-left: 0px;
    margin-right: 70px; }
  .mini-sidebar .sidebar-nav #sidebarnav > li > a {
    padding: 15px 25px 15px 15px; } }

@media (max-width: 767px) {
  .mini-sidebar .left-sidebar,
  .mini-sidebar .sidebar-footer {
    right: -220px;
    left: auto; }
  .mini-sidebar.show-sidebar .left-sidebar,
  .mini-sidebar.show-sidebar .sidebar-footer {
    left: auto;
    right: 0px; } }

.right-sidebar {
  right: auto;
  left: -240px; }

.shw-rside {
  left: 0px; }

/*************************************************************************************************************************************/
/*******************
Responsive
*******************/
/*-- ============================================================== 
 Small Desktop & above all (1024px) 
 ============================================================== */
@media (min-width: 1024px) {
  .page-wrapper, .footer {
    margin-left: 0px;
    margin-right: 220px; } }

/*************************************************************************************************************************************/
/*******************
widgets
*******************/
.browser td .badge {
  float: left; }

.steamline {
  border-left: 0px;
  border-right: 1px solid #e9ecef;
  margin-left: 0px;
  margin-right: 20px; }
  .steamline .sl-right {
    padding-left: 0px;
    padding-right: 50px; }
  .steamline .sl-left {
    margin-right: -20px;
    margin-left: 15px; }

/*************************************************************************************************************************************/
/*******************
pages
*******************/
.chat-main-box .chat-left-aside {
  border-right: 0px;
  border-left: 1px solid #e9ecef; }

.right-aside {
  margin-right: 250px;
  margin-left: 0px; }

/*************************************************************************************************************************************/
/*******************
Tables
*******************/
th {
  text-align: right; }

.stylish-table tbody tr, .comment-widgets .comment-row {
  border-left: 0px;
  border-right: 4px solid #fff; }
  .stylish-table tbody tr.active, .stylish-table tbody tr:hover, .comment-widgets .comment-row.active, .comment-widgets .comment-row:hover {
    border-left: 0px !important;
    border-right: 4px solid #fb9678; }

/*-- ============================================================== 
 This is for Dahboard 3
 ============================================================== */
.profiletimeline {
  padding-right: 40px;
  border-right: 1px solid #e9ecef;
  border-left: 0px; }

.profiletimeline .sl-left {
  float: right;
  margin-left: 10px;
  margin-right: -60px; }

.like-comm a {
  display: inline-block; }

.css-bar > i {
  margin-left: 0px;
  margin-right: 5px; }

/*-- ============================================================== 
 This is for Tab page
 ============================================================== */
html body .vtabs .tabs-vertical {
  padding-right: 0px;
  border-left: 1px solid #e9ecef;
  border-right: 0px; }
  html body .vtabs .tabs-vertical li a.nav-link.active, html body .vtabs .tabs-vertical li a.nav-link:hover {
    border-radius: 0 0.25rem 0.25rem 0; }

html body .customvtab .tabs-vertical li .nav-link.active, html body .customvtab .tabs-vertical li .nav-link:hover, html body .customvtab .tabs-vertical li .nav-link:focus {
  border-left: 2px solid #fb9678;
  border-right: 0px;
  margin-left: -1px;
  border-radius: 0; }

/*-- ============================================================== 
 This is for Ribbon page
 ============================================================== */
html body .ribbon-vertical-r {
  right: auto;
  left: 12px; }

html body .ribbon-vertical-l {
  right: 12px; }

html body .ribbon-vwrapper-reverse {
  padding: 15px 15px 15px 50px; }

html body .ribbon-vwrapper {
  padding: 15px 50px 15px 15px; }

/*-- ============================================================== 
 This is for Form page
 ============================================================== */
.custom-control {
  padding-left: 1rem;
  padding-right: 1.5rem; }

.custom-control-indicator {
  right: 0px; }

.form-check-label {
  padding-left: 0px;
  padding-right: 1.25rem; }

.form-check-input {
  margin-right: -1.25rem;
  margin-left: 0rem; }

.custom-file-control::before {
  left: -1px;
  right: initial;
  border-radius: .25rem 0 0 .25rem; }

.form-control + .input-group-addon:not(:first-child) {
  border-right: 0px; }

.input-group .form-control:not(:first-child), .input-group-addon:not(:first-child), .input-group-btn:not(:first-child) > .btn, .input-group-btn:not(:first-child) > .btn-group > .btn, .input-group-btn:not(:first-child) > .dropdown-toggle, .input-group-btn:not(:last-child) > .btn-group:not(:first-child) > .btn, .input-group-btn:not(:last-child) > .btn:not(:first-child) {
  border-bottom-left-radius: .25rem;
  border-top-left-radius: .25rem;
  border-bottom-right-radius: 0rem;
  border-top-right-radius: 0rem; }

.input-group-addon:not(:last-child) {
  border-right: 1px solid #e9ecef;
  border-left: 0px; }

.input-group .form-control:not(:last-child), .input-group-addon:not(:last-child), .input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn, .input-group-btn:not(:first-child) > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:not(:last-child) > .btn, .input-group-btn:not(:last-child) > .btn-group > .btn, .input-group-btn:not(:last-child) > .dropdown-toggle {
  border-bottom-right-radius: .25rem;
  border-top-right-radius: .25rem;
  border-bottom-left-radius: 0rem;
  border-top-left-radius: 0rem; }

.input-group .input-group-append .btn, .input-group .input-group-append .input-group-text {
  border-radius: 0.25rem 0 0 0.25rem; }

.input-group .input-group-prepend .btn, .input-group .input-group-prepend .input-group-text {
  border-radius: 0 0.25rem 0.25rem 0; }

.dtp > .dtp-content {
  left: auto;
  right: 50%; }

/*-- ============================================================== 
 This is for Form addons page
 ============================================================== */
html body .bootstrap-select > .dropdown-toggle {
  padding-left: 25px;
  padding-right: 15px; }

html body .dropdown-toggle::after {
  margin-right: .3em; }

html body .bootstrap-select.btn-group .dropdown-toggle .filter-option {
  text-align: right; }

html body .has-warning .form-control-warning, html body .floating-labels .has-success .form-control, html body .has-danger .form-control-danger, html body .has-success .form-control-success {
  background-position: left 0.75rem center;
  padding-left: 2.25rem;
  padding-right: 10px; }

html body .asColorPicker-trigger {
  right: initial;
  left: -35px; }

html body .asColorPicker-clear {
  left: 10px;
  right: initial; }

html body .icheck-list {
  float: right;
  padding-left: 50px;
  padding-right: 0px; }

html body ul.wysihtml5-toolbar > li {
  float: right; }

html body .wysihtml5-sandbox {
  direction: rtl; }

/*-- ============================================================== 
 This is for Form wizrd page
 ============================================================== */
html body .wizard-content .wizard > .steps > ul > li:after {
  left: 0px;
  right: initial; }

html body .wizard-content .wizard > .steps > ul > li:before {
  right: 0px;
  left: initial; }

html body .dataTables_filter, html body .dataTables_wrapper .dataTables_paginate, html body .tablesaw-advance {
  float: left; }

html body .tablesaw-toolbar {
  float: right; }

html body .tablesaw-enhanced .tablesaw-bar .btn.btn-select {
  text-align: right; }

html body .tablesaw-toolbar label {
  margin-right: 0px;
  margin-left: 20px; }

/*-- ============================================================== 
 This is for timeline page 
 ============================================================== */
html body .timeline > li.timeline-inverted > .timeline-panel {
  float: right; }

/*-- ============================================================== 
 This is for Nestable page 
 ============================================================== */
html body .dd3-handle {
  left: auto;
  right: 0px; }

html body .myadmin-dd-empty .dd-list .dd3-content {
  padding: 8px 46px 8px 16px; }

html body .dd3-item > button {
  margin-left: 0px;
  margin-right: 30px;
  float: right; }

html body .dd-item > button {
  float: right; }


/** native user**/

#breeding_btn.fixed-header {
    position: fixed;
    top:60px;
    width: calc(100% - 270px);
    border-bottom: 2px solid #000;
     left: 25px;
}
.breeding_cart {
    background-color: #fff;
    width: 100%;
    display: inline-block;
    padding: 15px;
    border-radius: 0px;
    z-index: 9;
}
.breeding_cart .btn.btn-danger{
    float: left;
}
.breeding_cart + .card{
    margin-top: 10px;
}

.mini-sidebar #breeding_btn.fixed-header{
    width: calc(100% - 120px);
}

.breadcrumb_new {
	/*centering*/
	display: inline-block;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
	overflow: hidden;
	border-radius: 5px;
	/*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
    counter-reset: flag; 
    text-align: center
}

.breadcrumb_new a {
	text-decoration: none;
	outline: none;
	display: block;
	float: right;
	font-size: 12px;
	line-height: 36px;
	color: white;
	/*need more margin on the left of links to accomodate the numbers*/
	padding: 0 60px 0 10px;
	background: #666;
	background: linear-gradient(#666, #333);
	position: relative;
}
/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumb_new a:first-child {
	padding-left: 10px;
	border-radius: 0px; /*to match with the parent's radius*/
}
.breadcrumb_new a:first-child:before {
	left: 14px;
}
.breadcrumb_new a:last-child {
	border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
  padding-right: 60px;
  padding-left: 10px;
}

/*hover/active styles*/
.breadcrumb_new a.active, .breadcrumb_new a:hover{
	background: #333;
	background: linear-gradient(#333, #000);
}
.breadcrumb_new a.active:after, .breadcrumb_new a:hover:after {
	background: #333;
	background: linear-gradient(135deg, #333, #000);
}

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb_new a:after {
	content: '';
	position: absolute;
	top: 0; 
	left: -18px; /*half of square's length*/
	/*same dimension as the line-height of .breadcrumb a */
	width: 36px; 
	height: 36px;
	/*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
	length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
	if diagonal required = 1; length = 1/1.414 = 0.707*/
	transform: scale(0.707) rotate(45deg);
	/*we need to prevent the arrows from getting buried under the next link*/
	z-index: 1;
	/*background same as links but the gradient will be rotated to compensate with the transform applied*/
	background: #666;
	background: linear-gradient(135deg, #666, #333);
	/*stylish arrow design using box shadow*/
	box-shadow: -2px 2px 0px 2px rgba(0, 0, 0, 0.4), -2px -2px 0 0px rgba(255, 255, 255, 0.1);
	/*
		5px - for rounded arrows and 
		50px - to prevent hover glitches on the border created using shadows*/
    border-radius: 0px 50px 0 0px;
}
/*we dont need an arrow after the last link*/
/* .breadcrumb_new a:last-child:after {
	content: none;
} */
/*we will use the :before element to show numbers*/
.breadcrumb_new a:before {
	content: counter(flag);
	counter-increment: flag;
	/*some styles now*/
	border-radius: 100%;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin: 8px 0;
	position: absolute;
	top: 0;
	right: 30px;
	background: #444;
	background: linear-gradient(#444, #222);
	font-weight: bold;
}


.flat a, .flat a:after {
	background: white;
	color: black;
    transition: all 0.5s;
    font-size: 15px;
    font-weight: bolder;
}
.flat a:before {
	background: white;
    box-shadow: 0 0 0 1px #ccc;
    color: #000;
    
}
.flat a:hover, .flat a.active, 
.flat a:hover:after, .flat a.active:after{
    background:#03a9f3;
    color:#FFFFFF ;
    font-size: 15px;
    font-weight: bolder;
}
.set_right{
  float: left;
  margin-top: -28px;
  font-weight: bold;

}


/* .breadcrumb_new a:first-child:after{
  display: none;
} */



@media (max-width:1023px){
    #breeding_btn.fixed-header{
        width: 100%;
    }
}

@media (max-width:767px){
    .mini-sidebar #breeding_btn.fixed-header{
        width: calc(100% - 30px);
        right:15px;
    }
}

@media (max-width:479px){
    .breeding_cart{
        width: calc(100% - 30px);
         margin: 0;
         position: fixed;
        bottom: 0px;
        padding: 10px 0px;
    }
   .mini-sidebar #breeding_btn.fixed-header{top:inherit;
    bottom:0px;
    margin: 0;
    border: none;
   }
   .breeding_cart .btn.btn-danger{
    display: table;
    margin: 0 auto;
    float: none !important;
    width:100%;
   }
}